main {
    width: 70%;
    margin: auto;
}
.fa-star, .fa-star-half-alt:not(.dark) {
    color: #FFAF27;
}

h3 {
    color: #10328B;
}

.blue {
    background-color: #10328B;
}

.orange {
    background-color: #FFAF27;
}

.card:hover {  
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}